<h4 class="text-center">Ajout d'un etudiant</h4>
<form>
    <div class="mb-3">
      <label for="cneFor" class="form-label">CNE</label>
      <input type="text" class="form-control" id="cneFor" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="nomFor" class="form-label">Nom</label>
      <input type="text" class="form-control" id="nomFor" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <label for="dateFor" class="form-label">Date de naissance</label>
        <input type="date" class="form-control" id="dateFor" aria-describedby="emailHelp">
      </div>
  
        <button type="submit" class=" w-100 text-center btn btn-primary">Ajouter</button>

   
  </form>


  https://github.com/mehdiTmimi/teste-angular